body {
    background-color: #fff;
    font-family: "Arial", Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}

figure, p, address {
    margin: 0;
}

p {
    line-height: 25px;
    margin-bottom: 10px;
}

p.p1p1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding-top: 0cm;
}

p.p2p2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    padding-top: 0cm;
}

iframe {
    border: 0;
}

a {
    -webkit-transition: all 0.3s ease-out 0s;
       -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
         -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
}

a, a:hover, a:focus, .btn:focus {
    text-decoration: none;
    outline: none;
    color: #009EE3;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto Slab', sans-serif;
    color: #252525;
}

main > section {
    padding: 40px 0;
}

.btn {
    border-radius: 0;
    border: 0;
    position: relative;
    text-transform: uppercase;
}

.btn-blue {
    background-color: rgba(0,158,227, 0.78);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    padding: 15px 55px;
    color: #fff;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 35px;
}

.bg-blue {
    background-color: #009EE3;
}

/* Sweep To Right */
.btn-effect {
	vertical-align: middle;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	display: inline-block;

	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		 -o-transform: translateZ(0);
			transform: translateZ(0);
		  
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
			backface-visibility: hidden;
		  
	-webkit-transition-property: color;
	   -moz-transition-property: color;
		-ms-transition-property: color;
			transition-property: color;
		  
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
		  
	-moz-osx-font-smoothing: grayscale;
}

.btn-effect:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	
	-webkit-transform: scaleX(0);
	   -moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
			transform: scaleX(0);
			
	-webkit-transform-origin: 0 50%;
	   -moz-transform-origin: 0 50%;
		-ms-transform-origin: 0 50%;
			transform-origin: 0 50%;
			
	-webkit-transition-property: transform;
	   -moz-transition-property: transform;
		-ms-transition-property: transform;
			transition-property: transform;
			
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
			transition-duration: 0.3s;
			
	-webkit-transition-timing-function: ease-out;
	   -moz-transition-timing-function: ease-out;
		-ms-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
}

.btn-effect:hover, .btn-effect:focus, .btn-effect:active {
	color: #009EE3;
}

.btn-effect:hover:before, .btn-effect:focus:before, .btn-effect:active:before {
	-webkit-transform: scaleX(1);
	   -moz-transform: scaleX(1);
	    -ms-transform: scaleX(1);
			transform: scaleX(1);
}

.sec-title {
    margin-bottom: 5px;
    margin-top: 20px;
}

.sec-title.white {
    color: #fff;
}

.sec-title h2 {
    font-size: 36px;
    margin: 0 0 30px;
    padding-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}

.sec-title.white h2 {
    color: #fff;
}

.sec-title h2:after {
    border-bottom: 1px solid #009ee3;
    content: "";
    display: block;
    left: 45%;
    bottom: 0;
    position: absolute;
    width: 115px;
}

.sec-title.white h2:after {
    border-bottom: 1px solid #fff;
}

.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position:relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 0px
    padding-bottom: 10px;
    }

a.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -100px;
}

.section-title h2 {
    background: rgba(255, 255, 255, .5);
    padding: 20px 0;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}

.parallax {
    min-height: calc(4vh + 4vw);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    padding-bottom: 0px;
}

.parallax2 {
    min-height: calc(2vh + 2vw);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    padding-bottom: 0px;
}

.section-title h3 {
    background: rgba(255, 255, 255, .5);
    padding: 20px 0;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}


.alignright {
    float:right; 
    margin:0 0 10px 20px;
}

.alignleft {
    float:left; 
    margin:0 20px 10px 0px;
}

.aligncenter {
    float:center;
    margin: 0 0 10px 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

hr {
    
    height: 1px;
    border: 0;
    border-top: 1px outset #ccc;
    border-width: 2px;
    border-color: rgb(17, 150, 171);
}

/**
/*	Header
/* ==========================================*/
.navbar-header {
    border-radius: 1px;
}

.navbar {
    
}

#logo {
    height: 100px;
    float: left;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    transition: background 700ms, transform 700ms;
}

#logo:hover {
    transform: scale(1.15, 1.15);
}

#navigation {
    -webkit-transition: all 0.8s ease 0s;
       -moz-transition: all 0.8s ease 0s;
        -ms-transition: all 0.8s ease 0s;
         -o-transition: all 0.8s ease 0s;
            transition: all 0.8s ease 0s;

    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    position: fixed;
    
    width: 100%;
    margin: auto;
}

#navigation.animated-header {
    padding: 10px 0;
}



h1.navbar-brand {
    font-size: 25px;
    font-weight: 700;
    margin: 0;    
    padding-top: 0.70cm;
    vertical-align: middle;
    
}

/**
/*	Presentation Title
/* ==========================================*/

#pres-tit {
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to bottom,#3c3c3c 0,#222 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom,#3c3c3c 0,#222 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom,#3c3c3c 0,#222 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom,#3c3c3c 10%,#222 100%); /* Standard syntax (must be last) */ 
    
       
}

#pres-tit h1 {
    text-align: center;
    color: white;
    padding-top: 110px;
    text-transform: full-width;
    font-family: "Arial";
    
}


/**
/*	Carrousel
/* ==========================================*/
#main-slider .carousel-inner {
  height:400px;    /* Set slide height here */
  width: auto;  
  margin: auto;
}

#main-slider .carousel-inner .item img {
    max-width: 100%;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#main-slider .item {
    position: relative;
    height:100%;
}
