body{
	background: black;
}


h1{
color:black;
font-size:32px;
text-align: center;
}
p{
height: 100%
margin: 0;
color:chocolate;
text-align: center;
width: 100%
font-size:25px;
}

h3{
  color:black;
  font-size: 25px;
  background-color: green;
  text-align: center;
  
}

.lista{
  background-image:url("http://userscontent2.emaze.com/images/0eeb2872-5691-4ec9-bce1-60042b9d5ce9/e4c558e4-9ea3-4f2e-aa15-b59ab1753537image2.jpeg");
  background-color:;  
  background-size:147px 101px;
  background-repeat:no-repeat;
  color:red;
  padding:10px;
}
.texto-lista{
  padding-left: 115px;
  text-position: top;
}

.imagen{
	margin: 20px;
	justify-content: center;
	position: center;
}
